*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
    line-height: 1.6;
    color: rgb(21, 22, 22);
 }

img {
    max-width: 100%;
}

.container {

}

.row {
    display: flex;
}

.col + .col {

}

header {
    background-color: #136c72;
    padding: 1em 0;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.nav__item {
    margin-right: 1em;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 800px) {
    .nav__list {
        display: flex;
        padding-left: 1em;
    }
}