*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
    line-height: 1.6;
    color: rgb(21, 22, 22);
 }

img {
    max-width: 100%;
}

h1, h2 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    margin-top: 0;
    line-height: 1.1;
}

section {
    padding: 4em 0;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1128px;
}

header {
    background-color: darkgrey;
    padding: 1em 0;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.hero {
    background-image: url("Images/In Flight.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-top: .5em;
}

.hero-text {
    color:#fff;
    padding-right: .75em;
    text-align: center;
}

.main {
    padding-bottom: 1em;
    margin-top: 2em;
}

.mission {
    margin-top: -4em;
}

.mission h2 {
    text-align: center;
    color: rgb(92, 158, 184);
}

.sidebar {
    background-color: darkgray;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.sidebar h2 {
    padding-top: 1em;
}

.human {
    background-color: rgb(92, 158, 184);
    color: #fff;
}

.bird {
    background-color: darkgray;
    color: #fff;
}

@media (min-width: 800px) {
    .nav__list {
        display: flex;
        justify-content: flex-end;
    }

    .nav__item {
        padding-left: 1em;
    }
    .row {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col + .col {
        margin-left: 5em;
    }

    .hero {
        height: 300px;
    }

    .hero-text {
        font-size: 3rem;
    }

    .mission {
        padding-right: 2em;
     }
}